.body {
  background-color: black;
  color: white;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  background-image: url(../assets/svg/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  transition: 0.3s;
  cursor: pointer;
  margin-right: auto;
}

.header__list {
  margin-top: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list-item {
  cursor: pointer;
  transition: 0.3s;
}

.header__list-item + .header__list-item {
  margin-left: 40px;
}

.main {
  background-image: url(../assets/img/forest.jpg);
  height: calc(100vh - 140px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

.play {
  background-image: url(../assets/svg/play.svg);
  width: 160px;
  height: 160px;
  background-size: contain;
  background-color: transparent;
  transition: 0.3s;
  cursor: pointer;
  opacity: 0.6;
}

.pause {
  background-image: url(../assets/svg/pause.svg);
}

.footer__item + .footer__item {
  margin-left: 40px;
}

.footer__link-rs {
  width: 135px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../assets/svg/rss.svg);
  transition: 0.3s;
  margin-left: auto;
}

.active {
  color: #bdae82;
}

.header__logo.active {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.header__logo:hover,
.footer__link-rs:hover {
  filter: invert(20%) sepia(6%) saturate(1586%) hue-rotate(7deg) brightness(89%)
    contrast(81%);
}

.footer-container {
  font-weight: 600;
}

.play:hover {
  opacity: 1;
}

.footer__link-gh {
  margin-top: 4px;
  transition: 0.3s;
}

.header__list-item:hover,
.footer__link-gh:hover {
  color: #bdae82;
}

.header__list > .header__list-item::after,
.footer__link-gh::after {
  margin-top: 4px;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #bdae82;
  transform: scaleX(0);
  transition: 0.3s;
}

.header__list > .header__list-item:hover::after,
.footer__link-gh:hover::after {
  transform: scaleX(0.9);
}

@media (max-width: 768px) {
  .body {
    font-size: 16px;
  }

  .header-container {
    flex-direction: column;
  }

  .header__logo {
    margin: 0 auto;
  }

  .header__list {
    width: 100%;
    justify-content: space-between;
  }

  .header__list-item {
    line-height: 32px;
  }

  .header__list-item + .header__list-item {
    margin-left: 0;
  }

  .main {
    height: calc(100vh - 174px);
  }

  .play {
    width: 100px;
    height: 100px;
  }

  .footer-container {
    line-height: 32px;
  }

  .footer__link-rs {
    width: 80px;
    height: 30px;
  }

  .footer__item + .footer__item {
    margin-left: 12px;
  }
}

@media (max-width: 500px) {
  .body {
    font-size: 9px;
  }

  .container {
    padding: 10px 20px;
  }

  .header__logo {
    width: 35px;
    height: 35px;
  }

  .header__list-item {
    line-height: 9px;
  }

  .main {
    height: calc(100vh - 137px);
  }

  .play {
    width: 70px;
    height: 70px;
  }

  .footer__link-rs {
    width: 50px;
    height: 20px;
  }
}